/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
input {
    height: 800px;
}
#special {
    top: 0;
    left: 0;
    position: absolute
}
body {
    font-family: 'Roboto';
    /* Hide horizontal scrollbar */
    background-color: #CFDBD5; scrollbar-width: none;
}
.container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}